<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="container">
    <label for="tbpost_title">Title</label><input type="text" id="tbpost_title" placeholder="Title"/>
    <label for="tbpost_author">Author</label><input type="text" id="tbpost_author" placeholder="Author"/>
    <label for="tbpost_content">Content</label><input type="text" id="tbpost_content" placeholder="Content"/>

    <button onclick="create_tbpost()">CREATE</button>
    <a href="/tbpost/list">List Page</a>
</div>

<script>
    const title = document.querySelector("#tbpost_title");
    const author = document.querySelector("#tbpost_author");
    const content = document.querySelector("#tbpost_content");

    function create_tbpost() {
        const data = {
            title: title.value,
            author: author.value,
            content: content.value
        };

        axios.post("/api/tbpost", JSON.stringify(data))
            .then(response => {
                alert("Success : " + response.data);
            })
            .catch(error => {
                console.log("error : " + error);
            })
    }
</script>
</body>
</html>