<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="container">
    <label for="tbpost_title">Title</label><input type="text" id="create_tbpost_title" placeholder="Title"/>
    <label for="tbpost_author">Author</label><input type="text" id="create_tbpost_author" placeholder="Author"/>
    <label for="tbpost_content">Content</label><input type="text" id="create_tbpost_content" placeholder="Content"/>

    <button onclick="create_tbpost()">CREATE</button>
    <a href="/tbpost/list">List Page</a>
</div>

<script>
    const title = document.querySelector("#create_tbpost_title");
    const author = document.querySelector("#create_tbpost_author");
    const content = document.querySelector("#create_tbpost_content");

    function create_tbpost() {
        axios.post('/api/tbpost', {
            title: title.value,
            author: author.value,
            content: content.value
        }, {
            headers: {
                'Content-Type': 'application/json; charset=utf-8'
            }
        }).then((response) => {
            alert("success!!");
            //alert(JSON.stringify(response.data));
        }).catch((error) => {
            alert("error!!");
            alert(JSON.stringify(error.response.data));
        });
    }
</script>
</body>
</html>