<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GOGO</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="container">
    <button onclick="test()">Test Button</button>
</div>

<script>

    // axios를 통한 get 요청
    function test() {
        axios.get('/api/test')
            .then(response => {
                alert(response.data);
            }).catch(error => {
            console.error("error: ", error);
        });
    }

</script>
</body>
</html>